version: "3.4"

services:
  # Databases

  # attendance-db:
  #   image: mongo
  #   container_name: attendance-db
  #   restart: always
  #   ports:
  #     - 7000:27017
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: ficticio

  # Microservicces

  attendance-identity:
    build:
      context: src/services/Veox.Attendance.Identity
      dockerfile: Dockerfile
    image: attendance-identity:latest
    container_name: attendance-identity
    restart: always

  attendance-record:
    build:
      context: src/services/Veox.Attendance.Record
      dockerfile: Dockerfile
    image: attendance-record:latest
    container_name: attendance-record
    restart: always

  attendance-user:
    build:
      context: src/services/Veox.Attendance.User
      dockerfile: Dockerfile
    image: attendance-user:latest
    container_name: attendance-user
    restart: always

  attendance-workspace:
    build:
      context: src/services/Veox.Attendance.Workspace
      dockerfile: Dockerfile
    image: attendance-workspace:latest
    container_name: attendance-workspace
    restart: always

  # API Gateway

  attendance-api:
    build:
      context: src/gateway/Veox.Attendance.Gateway
      dockerfile: Dockerfile
    image: attendance-api:latest
    container_name: attendance-api
    ports:
      - 8000:80
    restart: always

  # Service discovery

  attendance-service-discovery:
    image: consul:latest
    container_name: attendance-service-discovery
    command: consul agent -dev -log-level=warn -ui -client=0.0.0.0
    hostname: attendance-service-discovery
    expose:
      - 8500
    ports:
      - 8500:8500
